<script src="../controller/DefaultController.js"></script>

<link rel="import" href="../component/satellite-select/template.html">
<link rel="import" href="../component/tle-display/template.html">
<link rel="import" href="../component/compass-component/template.html">

<template>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">Start Bootstrap</a></li>
                <li><a href="#default/default">Default</a></li>
                <li><a href="#default/main">Main</a></li>
                <li><a href="#default/design">Design</a></li>
            </ul>
        </div><!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper">

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="dashboard-tab" role="tabpanel">
                    <div class="#map-link"></div>
                </div>
                <div class="tab-pane" id="map-tab" role="tabpanel">
                    <div id="map"></div>
                </div>
                <div class="tab-pane" id="sky-tab" role="tabpanel">
                    <div id="sky"></div>
                </div>
                <div class="tab-pane" id="earth-tab" role="tabpanel">
                    <div id="earth"></div>
                </div>
                <div class="tab-pane" id="settings-tab" role="tabpanel">
                    <div class="container-page">

                        <form>
                            <satellite-select
                                    data-api-url="http://dev.byteout.com/astrodynamics/astrodynamics/web/app_dev.php"></satellite-select>
                        </form>

                        <a href="#default/tle"><i class="fa fa-file-o" aria-hidden="true"></i>Documentation</a>

                        <!--<div id="chart-accelerometer"></div>-->

                    </div>
                </div>
            </div>

        </div><!-- /#page-content-wrapper -->
    </div><!-- /#wrapper -->
</template>