<script src="../controller/TleController.js"></script>

<template>

    <div class="container container-page">
        <div class="row">
            <div class="col-xs-12">
                <h1>TLE Documentation</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>A two-line element set
                    (<a href="https://en.wikipedia.org/wiki/Two-line_element_set"><i class="fa fa-wikipedia-w"
                                                                                     aria-hidden="true"></i> TLE</a>)
                    is a set of orbital elements that describe the orbit of an earth satellite.
                    A computer program called a model can use the TLE to compute the precise position of a satellite at
                    a particular time.
                    The TLE is in a format specified by NORAD and used by NORAD and NASA.
                    The TLE can be used directly by the
                    <a href="https://en.wikipedia.org/wiki/Simplified_perturbations_models"><i class="fa fa-wikipedia-w"
                                                                                               aria-hidden="true"></i>
                        SGP4</a>
                    model (or one of the SGP8, SDP4, SDP8 models).
                    Orbital elements are determined for many thousands of space objects by NORAD and are freely
                    distributed on the Internet in the form of TLEs.
                    A TLE consists of a title line followed by two lines of formatted text. The following is an example
                    of a TLE (for the International Space Station)
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Column</th>
                        <th>Example</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td align="center">1</td>
                        <td>Line Number</td>
                    </tr>
                    <tr>
                        <td align="center">3-7</td>
                        <td align="center">25544</td>
                        <td>Satellite Catalog Number</td>
                    </tr>
                    <tr>
                        <td align="center">8</td>
                        <td align="center">U</td>
                        <td>Elset Classification</td>
                    </tr>
                    <tr>
                        <td align="center">10-17</td>
                        <td align="center">98067A</td>
                        <td>International Designator</td>
                    </tr>
                    <tr>
                        <td align="center">19-32</td>
                        <td align="center">04236.56031392</td>
                        <td>Element Set Epoch (UTC)</td>
                    </tr>
                    <tr>
                        <td align="center">34-43</td>
                        <td align="center">.00020137</td>
                        <td>1st Derivative of the Mean Motion with respect to Time</td>
                    </tr>
                    <tr>
                        <td align="center">45-52</td>
                        <td align="center">00000-0</td>
                        <td>2nd Derivative of the Mean Motion with respect to Time (decimal point assumed)</td>
                    </tr>
                    <tr>
                        <td align="center">54-61</td>
                        <td align="center">16538-3</td>
                        <td>B* Drag Term</td>
                    </tr>
                    <tr>
                        <td align="center">63</td>
                        <td align="center">0</td>
                        <td>Element Set Type</td>
                    </tr>
                    <tr>
                        <td align="center">65-68</td>
                        <td align="center">513</td>
                        <td>Element Number</td>
                    </tr>
                    <tr>
                        <td align="center">69</td>
                        <td align="center">5</td>
                        <td>Checksum</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-6">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Column</th>
                        <th>Example</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Columns</td>
                        <td>Example</td>
                        <td>Description</td>
                    </tr>
                    <tr>
                        <td align="center">1</td>
                        <td align="center">2</td>
                        <td>Line Number</td>
                    </tr>
                    <tr>
                        <td align="center">3-7</td>
                        <td align="center">25544</td>
                        <td>Satellite Catalog Number</td>
                    </tr>
                    <tr>
                        <td align="center">9-16</td>
                        <td align="center">51.6335</td>
                        <td>Orbit Inclination (degrees)</td>
                    </tr>
                    <tr>
                        <td align="center">18-25</td>
                        <td align="center">344.7760</td>
                        <td>Right Ascension of Ascending Node (degrees)</td>
                    </tr>
                    <tr>
                        <td align="center">27-33</td>
                        <td align="center">0007976</td>
                        <td>Eccentricity (decimal point assumed)</td>
                    </tr>
                    <tr>
                        <td align="center">35-42</td>
                        <td align="center">126.2523</td>
                        <td>Argument of Perigee (degrees)</td>
                    </tr>
                    <tr>
                        <td align="center">44-51</td>
                        <td align="center">325.9359</td>
                        <td>Mean Anomaly (degrees)</td>
                    </tr>
                    <tr>
                        <td align="center">53-63</td>
                        <td align="center">15.70406856</td>
                        <td>Mean Motion (revolutions/day)</td>
                    </tr>
                    <tr>
                        <td align="center">64-68</td>
                        <td align="center">32890</td>
                        <td>Revolution Number at Epoch</td>
                    </tr>
                    <tr>
                        <td align="center">69</td>
                        <td align="center">3</td>
                        <td>Checksum</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</template>