<script src="../controller/DocsServicesController.js"></script>

<template>
    <div class="container">
        <div class="row">
            <div class="docrx" data-url="module/example/assets/docs/FilterService.md" style="margin-top: 15px"></div>
            <div class="docrx" data-url="module/example/assets/docs/ModuleService.md" style="margin-top: 15px"></div>
            <div class="docrx" data-url="module/example/assets/docs/NotificationService.md" style="margin-top: 15px"></div>
            <div class="docrx" data-url="module/example/assets/docs/ReduxService.md" style="margin-top: 15px"></div>
            <div class="docrx" data-url="module/example/assets/docs/RoutingService.md" style="margin-top: 15px"></div>
            <div class="docrx" data-url="module/example/assets/docs/StorageService.md" style="margin-top: 15px"></div>
        </div>
    </div>
</template>