<script src="../controller/DocsController.js"></script>

<template>
    <div class="container">
        <div class="row">
            <div class="showdown" data-url="module/example/assets/docs/AjaxException.md" style="margin-top: 15px"></div>
            <div class="showdown" data-url="module/example/assets/docs/Controller.md" style="margin-top: 15px"></div>
            <div class="showdown" data-url="module/example/assets/docs/Exception.md" style="margin-top: 15px"></div>
            <div class="showdown" data-url="module/example/assets/docs/Framework.md" style="margin-top: 15px"></div>
            <div class="showdown" data-url="module/example/assets/docs/Module.md" style="margin-top: 15px"></div>
            <div class="showdown" data-url="module/example/assets/docs/NodeFramework.md" style="margin-top: 15px"></div>
            <div class="showdown" data-url="module/example/assets/docs/Route.md" style="margin-top: 15px"></div>
            <div class="showdown" data-url="module/example/assets/docs/Storage.md" style="margin-top: 15px"></div>
            <div class="showdown" data-url="module/example/assets/docs/Util.md" style="margin-top: 15px"></div>
        </div>
    </div>
</template>