<script src="../controller/HomeController.js"></script>

<template>
    <div class="container">
        <div class="row">

            <div class="jumbotron" style="margin-top: 15px">
                <h1 class="display-3">Hello, ECMA6!</h1>
                <p class="lead">This tutorial will lead you trough basics of frontend framework usage.</p>
                <hr class="m-y-2">
                <p>Lightweight and robust ECMA6 frontend framework, architectured on MVC pattern and resting on
                    webcomponents.</p>
            </div>
        </div>

        <div class="showdown" data-url="README.md"></div>

    </div>

    <a href="https://github.com/ivanstan/frontend-framework"><img
            style="position: absolute; top: 0; right: 0; border: 0;" src="module/example/assets/fork-ribbon.png"
            alt="Fork me on GitHub"></a>
</template>