.nav-item {
  margin-right: 15px;
}

.url {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #0275d8;
  background-color: #f7f7f9;
  border-radius: .25rem;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.file,
.folder {
  padding: .2rem .4rem;
  font-size: 90%;
  background-color: #f7f7f9;
  border-radius: .25rem;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  height: auto;
  cursor: default;
}

.mermaid svg {
  margin: 0 auto 15px auto;
  display: block;
}